{% extends 'base.html' %}

{% block content %}
<!-- EDIT BELOW THIS -->
<div>
    <form method="POST" action="">
        {% csrf_token %}
        <div>
            <input type="radio" name="radio_month" value="1" id="one_month">
            <label for="1">1 month</label>
            <input type="radio" name="radio_month" value="3" id="three_months">
            <label for="3">3 month</label>
            <input type="radio" name="radio_month" value="6" id="six_months">
            <label for="6">6 month</label>
        </div>
        <input type="submit" value="Search">
    </form>
</div>

{% if transactions %}
    {% for transaction in transactions %}
        <span>{{ transaction.tr_date }}</span>
        <span>{{ transaction.description }}</span>
        <span>{{ transaction.available_balance }}</span><br>
    {% endfor %}
{% else %}
    <h1>No transactions for given time period.</h1>
{% endif %}
<!-- EDIT ABOVE THIS -->
{% endblock content %}